.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid rgb(92, 129, 36);
}

.infoBox--red{
  border-color:red;
}

.infoBox__cases--green {
  color: rgb(8, 135, 8) !important;
}

.infoBox__cases {
  color: red;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #373e44;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
