.table {
  margin-top: 20px;
  overflow: scroll;
  color: #473232;
  background-color: rgb(203, 200, 200);
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
